* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aliceblue;
    background-color: #333;
    height: 150px;
}

.navigation a {
    color: #ffffff;
    padding: 0.75rem;
    text-align: center;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: #000;
    align-items: center;
}

.modern a {
    flex: 1 1 100%
}

h2 {
    text-align: left;
    color: #333;
    height: 300px;
    background-color:burlywood;
    width: 1200px
}

aside {
    width: 24rem;
    height: auto;
    background-color: turquoise;
    color: black;
    text-align: center;
    float: 
}

footer {
    text-align: center;
    color: aliceblue;
    background-color: #333;
    height: 150px;
}
